Tal Yarkoni <tyarkoni@gmail.com> tyarkoni <tyarkoni@gmail.com>
Alejandro de la Vega <delavega@utexas.edu> adelavega <delavega@utexas.edu>
Alejandro de la Vega <delavega@utexas.edu> delavega4 <aleph4@gmail.com>
Alejandro de la Vega <delavega@utexas.edu> Alejandro de la Vega <aleph4@gmail.com>
Christopher J. Markiewicz <markiewicz@stanford.edu> Chris Markiewicz <effigies@gmail.com>
Christopher J. Markiewicz <markiewicz@stanford.edu> Chris Markiewicz <markiewicz@stanford.edu>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> Chris Filo Gorgolewski <krzysztof.gorgolewski@gmail.com>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> Chris Gorgolewski <krzysztof.gorgolewski@gmail.com>
Gregory Kiar <greg.kiar@mail.mcgill.ca> Greg Kiar <gkiar07@gmail.com>
Gregory Kiar <greg.kiar@mail.mcgill.ca> gkiar <gkiar07@gmail.com>
Lee S. Tirrell <tirrell.le@gmail.com> Lee Tirrell <ltirrell@corticometrics.com>
Lee S. Tirrell <tirrell.le@gmail.com> Lee Tirrell <tirrell.le@gmail.com> 
Dylan M. Nielson <Dylan.Nielson@nih.gov> Dylan <Dylan.Nielson@nih.gov>
Dylan M. Nielson <Dylan.Nielson@nih.gov> Dylan Nielson <adenosine@gmail.com>
Dylan M. Nielson <Dylan.Nielson@nih.gov> shotgunosine <adenosine@gmail.com>
Alexander Ivanov <alexander.radievich@gmail.com> Alexander <alexander.radievich@gmail.com>
Oscar Esteban <code@oscaresteban.es> oesteban <code@oscaresteban.es>
Isla Staden <islastaden@gmail.com> islast <islastaden@gmail.com>
Bertrand Thirion <bertrand.thirion@inria.fr> bthirion <bertrand.thirion@inria.fr>
Mainak Jas <mainakjas@gmail.com> jasmainak <mainakjas@gmail.com>
Yaroslav O. Halchenko <debian@onerussian.com> Yaroslav Halchenko <debian@onerussian.com>
Matteo Visconti di Oleggio Castello <matteo.visconti.gr@dartmouth.edu> Matteo Visconti dOC <matteo.visconti.gr@dartmouth.edu>
Michael Philipp Notter <michaelnotter@hotmail.com> Michael Notter <michaelnotter@hotmail.com>
