Alejandro de la Vega <delavega@utexas.edu>
Alejandro de la Vega <delavega@utexas.edu> <aleph4@gmail.com>
Alejandro de la Vega <delavega@utexas.edu> <adelavega@users.noreply.github.com>
Alexander Ivanov <alexander.radievich@gmail.com>
Alexis Thual <alexisthual@gmail.com>
Ankur Sinha <sanjay.ankur@gmail.com>
Antonin Rovai <81312414+arovai@users.noreply.github.com>
Bertrand Thirion <bertrand.thirion@inria.fr>
Christopher J. Markiewicz <markiewicz@stanford.edu>
Christopher J. Markiewicz <markiewicz@stanford.edu> <effigies@gmail.com>
Christopher J. Markiewicz <markiewicz@stanford.edu> <effigies@users.noreply.github.com>
Chris Holdgraf <choldgraf@berkeley.edu>
Chris Holdgraf <choldgraf@berkeley.edu> <choldgraf@gmail.com>
Dimitri Papadopoulos Orfanos <3234522+DimitriPapadopoulos@users.noreply.github.com>
Dylan M. Nielson <Dylan.Nielson@nih.gov>
Dylan M. Nielson <Dylan.Nielson@nih.gov> <adenosine@gmail.com>
Evgenii Kalenkovich <e.kalenkovich@gmail.com>
Gal Ben-Zvi <benzvigal@gmail.com>
Gregory Kiar <greg.kiar@mail.mcgill.ca> <gkiar07@gmail.com>
Isla Staden <islastaden@gmail.com> <islastaden@gmail.com>
James D. Kent <james-kent@uiowa.edu>
Johannes Wennberg <johanneswennberg@gmail.com>
Jon Haitz Legarreta <jon.haitz.legarreta@gmail.com>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com>
Lee S. Tirrell <tirrell.le@gmail.com>
Lee S. Tirrell <tirrell.le@gmail.com> <ltirrell@corticometrics.com>
Mainak Jas <mainakjas@gmail.com>
Matteo Visconti di Oleggio Castello <matteo.visconti.gr@dartmouth.edu>
Mathias Goncalves <mathiasg@stanford.edu>
Mathias Goncalves <mathiasg@stanford.edu> Mathias Goncalves <goncalves.mathias@gmail.com>
Michael Philipp Notter <michaelnotter@hotmail.com>
Nick Guenther <nick.guenther@polymtl.ca>
Oscar Esteban <code@oscaresteban.es>
Steven Tilley II <stilley@hollandbloorview.ca>
Steven Tilley II <stilley@hollandbloorview.ca> <steve@steventilley.com>
Tal Yarkoni <tyarkoni@gmail.com>
Yaroslav O. Halchenko <debian@onerussian.com>
